// Define variables for your color scheme

// For example:

$orange: #f49e31;
$red: #d13d28;
$gray: rgba(27, 33, 38, 1); // Hex: #1B2126
$blue-gray: #49555d;
$gray-transparent: rgb(37, 43, 48);
$light-gray: #bebebe;
$lighter-gray: rgb(227, 251, 255);


.orange {
  color: $orange;
}