// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Staatliches&display=swap');


// Define fonts for body and headers
$body-font: "Montserrat","Helvetica", "sans-serif", sans-serif;
$headers-font: "Staatliches", "Helvetica", "sans-serif", cursive;
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

html {
  font-size: 16px;
}

p {
  margin-bottom: 1.25em;
}

h1 {
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small,
.text_small {
  font-size: 0.75em;
}