
<div class="container">
  <h1>All Listings</h1>

  <div class="listing-list">
    <% @listings.each do |listing| %>
      <div class="listing-item">
        <%= listing.game_id.title %>
        <%= listing.price %>
        <%= listing.location %>
      </div>
    <% end %>
  </div>

</div>
