// Specific CSS for your home-page
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  justify-content: center;
}

.games-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.home-section-2 {
  background: $gray;
}

.home-card {
  background: none;
}