// Specific CSS for your home-page
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  justify-content: center;
}

.games-list {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $lighter-gray;
    
    &:hover {
      text-decoration: none;
    }
  }

  #lend-from {
    margin: 0 !important;
  }
}

.game-card {

  padding: 5px;
  border-radius: 5px;

    &:hover {
      background-color: $gray-transparent;
    }
}

.home-section {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.home-section-2 {
  background: $gray;
}

.home-card {
  background: none;

  i {
    font-size: 110px;
  }
}

.home-search {
  height: 45px;
  margin-top: 10px;
}

.home-search-bar {
  height: 45px;
  width: 450px !important;
  margin-right: 10px;
}

.search-submit {
  height: inherit;
  padding: 0 40px;
  color: white;
  font-weight: bold;
}