<div class="listing-list">
  <div class="booking-item">
    <div class="booking-item-image">
      <%#= image_tag 'ps4-temp-tag', class: "console-tag" %>
      <a href="#"><img src="https://picsum.photos/200/100" class="rounded"></a>
    </div>
    <div class="booking-item-text">
      <h4>The Last Of Us</h4>
      <div class="booking-info"><p class='text_small'><strong>Start Date</strong> DD/MM/YYYY &nbsp;&nbsp;|&nbsp;&nbsp; <strong>End Date</strong> DD/MM/YYYY</p></div>
      <p><strong>Lent to</strong> Timothy Ollefant</p>
      <p><strong>Money Earnt</strong> $12</p>
    </div>
  </div>
</div>