<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <h1>Borrow, lend, share.</h1>
        <p>A place for gamers to play more with less.</p>
        <div class="search">
          <form>
          <input type="text" name="search-field" placeholder="Search for games...">
          <input type="submit" name="search">
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
</div>