<div class="container">
  <div class="row home-section">
    <div class="col-12">
      <div class="banner">
        <h1>Borrow, lend, share.</h1>
        <p>A place for gamers to play more with less.</p>
        <div class="search">
          <form>
          <input type="text" name="search-field" placeholder="Search for games...">
          <input type="submit" name="search">
          </form>
        </div>
      </div>
      <div class="col-12">
        <div class="games-list">
          <% @listings.each do |listing| %>
            <div class="game-card">
              <div class="game-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= listing.game.image %>)">
              </div>
              <h5><%= listing.game.title %></h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-section home-section-2">
    <h2>How it works</h2>
    <div class="card-group">
      <div class="card text-center home-card">
        <i class="fas fa-list-ol"></i>
        <div class="card-body">
          <h5 class="card-title">List your games for others</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card text-center home-card">
        <i class="fas fa-retweet"></i>
        <div class="card-body">
          <h5 class="card-title">Borrow games from other members</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card text-center home-card">
        <i class="fas fa-gamepad"></i>
        <div class="card-body">
          <h5 class="card-title">Play more for less!</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>