<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<h1>Temp - Josh component building - delete before push!</h1>

<div class="listing-list">
  <div class="listing-item">
  <div class="listing-item-upvote">
      <i class="fa fa-caret-up"></i>
      <p>137</p>
  </div>
  <div class="listing-item-image">
      <a href="#"><img src="https://picsum.photos/150/100" class="rounded"></a>
  </div>
  <div class="listing-item-text">
      <h3>Macbook Pro 13" 2.5Ghz i5 512GB</h3>
      <p>The latest 8th gen Intel CPU 13" Macbook Pro in Space Grey. Available now.</p>
  </div>
  <div class="listing-item-buttons">
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-share"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
      </ul>
  </div>
  </div>
  <div class="listing-item">
      <div class="listing-item-upvote">
          <i class="fa fa-caret-up"></i>
          <p>137</p>
      </div>
      <div class="listing-item-image">
          <a href="#"><img src="https://picsum.photos/150/100" class="rounded"></a>
      </div>
      <div class="listing-item-text">
          <h3>Macbook Pro 13" 2.5Ghz i5 512GB</h3>
          <p>The latest 8th gen Intel CPU 13" Macbook Pro in Space Grey. Available now.</p>
      </div>
      <div class="listing-item-buttons">
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-share"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
          </ul>
      </div>
      </div>
      <div class="listing-item">
          <div class="listing-item-upvote">
              <i class="fa fa-caret-up"></i>
              <p>137</p>
          </div>
          <div class="listing-item-image">
              <a href="#"><img src="https://picsum.photos/150/100" class="rounded"></a>
          </div>
          <div class="listing-item-text">
              <h3>Macbook Pro 13" 2.5Ghz i5 512GB</h3>
              <p>The latest 8th gen Intel CPU 13" Macbook Pro in Space Grey. Available now.</p>
          </div>
          <div class="listing-item-buttons">
              <ul class="list-inline">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-share"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
              </ul>
          </div>
</div>