<h1>Items List</h1>

<div class="listing-list">
  <div class="listing-item">
    <div class="listing-item-image">
        <%= image_tag 'ps4-temp-tag', class: "console-tag" %>
        <a href="#"><img src="https://picsum.photos/150/190" class="rounded"></a>
    </div>
    <div class="listing-item-text">
        <h3>The Last Of Us</h3>
        <div class="listing-info"><p class='text_small'><strong>Platform</strong> Playstation 4 &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Genre</strong> Third Person</p></div>
        <p><strong>Available from</strong> Timothy Ollefant</p>
        <p><strong>Distance</strong> 1.2km</p>
    </div>
    <div class="listing-item-buttons">
        <div><h2>$3</h2><p class="text_small">per day</p></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-share"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>
    </div>
  </div>
  <div class="listing-item">
    <div class="listing-item-image">
        <%= image_tag 'xboxone-temp-tag', class: "console-tag" %>
        <a href="#"><img src="https://picsum.photos/150/190" class="rounded"></a>
    </div>
    <div class="listing-item-text">
        <h3>Red Dead Redemption 2</h3>
        <div class="listing-info"><p class='text_small'><strong>Platform</strong> Xbox One &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Genre</strong> Open World</p></div>
        <p><strong>Available from</strong> Timothy Ollefant</p>
        <p><strong>Distance</strong> 2.5km</p>
    </div>
    <div class="listing-item-buttons">
        <div><h2>$4</h2><p class="text_small">per day</p></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-share"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>
    </div>
  </div>
  <div class="listing-item">
    <div class="listing-item-image">
        <%= image_tag 'switch-temp-tag', class: "console-tag" %>
        <a href="#"><img src="https://picsum.photos/150/190" class="rounded"></a>
    </div>
    <div class="listing-item-text">
        <h3>Mario Kart</h3>
        <div class="listing-info"><p class='text_small'><strong>Platform</strong> Nintendo Switch &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Genre</strong> Racing</p></div>
        <p><strong>Available from</strong> Timothy Ollefant</p>
        <p><strong>Distance</strong> 3.0km</p>
    </div>
    <div class="listing-item-buttons">
        <div><h2>$2</h2><p class="text_small">per day</p></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-share"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>
    </div>
  </div>
</div>