<h1>hello</h1>


<div class="reviews-list">
  <div class="review-item">
    <div class="review-item-image">
        <%= image_tag 'temp-avatar', class: "avatar-xl" %>
    </div>
    <div class="review-item-text">
        <div class="review-info"><h5>Frank Smith</h5><p class='text_small'>&nbsp;&nbsp;<strong>Borrowed</strong> The Last Of Us </div>
        
        <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
        <p>Really great lender, would recommend!</p>
    </div>
  </div>
  <div class="review-item">
    <div class="review-item-image">
        <%= image_tag 'temp-avatar', class: "avatar-xl" %>
    </div>
    <div class="review-item-text">
        <div class="review-info"><h5>Bill Turner</h5><p class='text_small'>&nbsp;&nbsp;<strong>Borrowed</strong> The Last Of Us </div>
        
        <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        <p>Excellent lender, hope to use again!</p>
    </div>
  </div>
  <div class="review-item">
    <div class="review-item-image">
        <%= image_tag 'temp-avatar', class: "avatar-xl" %>
    </div>
    <div class="review-item-text">
        <div class="review-info"><h5>Sarah McDonald</h5><p class='text_small'>&nbsp;&nbsp;<strong>Borrowed</strong> The Last Of Us </div>
        
        <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
        <p>Not bad</p>
    </div>
  </div>
</div>