.bookcard {
  background-color: rgb(227, 251, 255);
  color: #1A2025;
  padding-top: 0px;
}

.bottom0 {
  position: absolute;
  bottom: 2px;
}

.top-right {
  position:absolute;
  top:2px;
  right:2px;
  font-size: 20px;
}
