.primary_button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $primary;
  transition: background 0.3s ease;
  font-weight: bold;
  height: fit-content;

  &:hover {
    background: $red;
    color: white;
  }
}