.footer {
  height: 200px;
  background-color: $blue-gray;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;

  .social > i {
    margin: 5px;
    font-size: 30px;
  }
}