.content-wrapper {
  display: flex;
}

.listing-list {
  flex-grow: 0;
}

#map {
  height: 100vh;
  min-width: 800px;
  position: sticky;
  top: 0;
  object-fit: cover;
}

.listing-list {
  width: 750px;
  margin: 10px;
  margin-top: 20px;

  a {
    color: $lighter-gray;

    &:hover {
      text-decoration: none;
    }
  }
}

.listing-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

  .console-tag {
    position: absolute;
    width: 60px;
    height: auto;
  }

}

.listing-item:hover {
  background: $gray-transparent;

}

.listing-item-image {
  margin: 0 20px;
  text-align: center;
  .rounded {
    object-fit: cover;
    height: 140px;
    width: 100px;
    margin-right: 20px;
  }
}

.listing-item-text {
  flex: 1 0 auto;
}

.listing-item-buttons {
  flex: 0 0 auto;
  text-align: right;
}

.listing-item-buttons ul {
  margin-top: 0;
  margin-bottom: 0;
}

.listing-info {
  margin-bottom: 1.6em;
}

.listing-button {
  font-size: 9px;
}

.bottom-margin-50{
  margin-bottom: 50px;
}

.listing-list-gray{
  background-color: gray;
}

.listing-list-selected {
  width: 750px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-bottom: 4px;

  a {
    color: $lighter-gray;
  }
}

.listing-item-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

  .console-tag {
    position: absolute;
    width: 60px;
    height: auto;
  }

}
