.listing-list {
  width: 750px;
  margin: 100px;
  margin-top:20px;
}

.listing-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

  .console-tag {
    position: absolute;
    width: 60px;
    height: auto;
  }
}

.listing-item:hover {
  background: $gray-transparent;

}

.listing-item-image {
  flex: 0 0 180px;
  text-align: center;
  .rounded {
    object-fit: cover;
    height: 140px;
    width: 100px;
    margin-right: 20px;
  }
}

.listing-item-text {
  flex: 1 0 auto;
}

.listing-item-buttons {
  flex: 0 0 auto;
  text-align: right;
}

.listing-item-buttons ul {
  margin-top: 0;
  margin-bottom: 0;
}

.listing-info {
  margin-bottom: 1.6em;
}

.listing-button {
  font-size: 9px;
}
