.navbar-airconsole {
  justify-content: space-between;
  background: none;
  height: 90px;

  .nav-link-custom {
    color: white !important;
    margin: 0 6px;
  }

  .navbar-brand > img {
    width: 170px !important;
    margin-left: 10px;
  }
}

.navbar-airconsole .navbar-collapse {
  flex-grow: 0;
}

.navbar-airconsole .navbar-brand img {
  width: 40px;
}
