.game-image {
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: calc(30vh * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.game-card {
  text-align: center;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 100%; /* only if you want fixed height */
}

.imagesize{
  height: 400px;
}

.no-left-mg{
  margin-left: 0px;
}

.no-left-pd{
  padding-left: 0px;
  padding-top: 0px;
}
